{
    # Use `mkpasswd -m sha-512` to generate strings
    # $ mkpasswd -m sha-512
    # Password:
    # > example
    # $6$5VE5rN/ZX$srKAo5i28oObt9neAwZ/offyEb4tULIZKoG23YTgmdK/2.VKIxJKsAmjs8EEyQgpEqZ3DymRnwGp8Kn5HmuTn0
    root = "$6$5VE5rN/ZX$srKAo5i28oObt9neAwZ/offyEb4tULIZKoG23YTgmdK/2.VKIxJKsAmjs8EEyQgpEqZ3DymRnwGp8Kn5HmuTn0";
    vkhougaz = "$6$5VE5rN/ZX$srKAo5i28oObt9neAwZ/offyEb4tULIZKoG23YTgmdK/2.VKIxJKsAmjs8EEyQgpEqZ3DymRnwGp8Kn5HmuTn0";
}
